include variables

doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            meta(
                name="viewport"
                content="width=device-width, initial-scale=1, maximum-scale=1" 
            )
            meta(content='true' name='HandheldFriendly')
            meta(content='width' name='MobileOptimized')
            meta(content='yes' name='apple-mobile-web-app-capable')
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            title Веста
            meta(name="description" content="Центр реабилитации")
            
            include favicons

            link(rel="stylesheet" href="css/style.min.css")
           
    body.page.vh-100
        .scroll-up
            svg.scroll-up__icon-svg(fill-rule="evenodd")
                use(xlink:href=sprite + "#arrow-up")
        block sidebar
            include sidebar

        .panel.wrapper.d-flex.flex-column.w-100.h-100
            block header
                include header
            main.content.flex-grow-1
                block content

            block footer
                include footer

        block scripts
            script(src='js/main.min.js')
