doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            meta(
                name="viewport"
                content="width=device-width, initial-scale=1, maximum-scale=1" 
            )
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            title Веста
            meta(name="description" content="Центр реабилитации")
            //- Favicons
            link(rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" sizes="180x180")
            link(rel="icon" href="img/favicons/favicon-32x32.png" sizes="32x32" type="image/png")
            link(rel="icon" href="img/favicons/favicon-16x16.png" sizes="16x16" type="image/png")
            link(rel="manifest" href="img/favicons/manifest.json")
            link(rel="icon" href="img/favicons/favicon.ico")

            link(rel="stylesheet" href="css/style.min.css")
    body.page
        block header
            include header
        block content
        //- block footer
            include footer
        block scripts
            script(src='js/main.min.js')
