#menu.sidebar
    header.menu.border-bottom.border-1.bg-light
        .d-flex.justify-content-between.flex-wrap.align-items-center
            .menu__caption.col-auto
                h6.menu__text.m-0.text-uppercase.text-black-50.fw-bold Меню
            .close.col-auto
                button.close__btn.p-0(type="button" aria-label="Close")
                    svg.close__icon
                            use(xlink:href=sprite + "#close")

    nav.nav-main.border-bottom.border-1.bg-light(aria-label="Mobile navigation")
                ul.nav.flex-column.nav-main__list
                    each item in navigation
                        li.nav-item.nav-main__list-item
                            a.nav-link.nav-main__link(href="#/") 
                                i.icon
                                    svg.icon__svg
                                        use(xlink:href=sprite + item.icon)
                                span.nav-main__link-text #{item.text}
