- var sprite = "img/sprite/sprite.svg";
- 
    const navigation = [
        {text: 'Главная', icon: '#home'},
        {text: 'Видео', icon: '#camera'},
        {text: 'Блог', icon: '#news'},
        {text: 'Отзывы', icon: '#comment'},
        //- {text: 'Контакты', icon: '#phone'}
    ];
- 
    const social = [
        {text: 'Youtube', icon: '#youtube', color: '#FF0000'},
        {text: 'Instagram', icon: '#instagram', color: '#833AB4'},
        {text: 'Twitter', icon: '#twitter', color: '#1da1f2'},
        {text: 'Facebook', icon: '#facebook', color: '#385898'},
    ]; 