- var sprite = "img/sprite/sprite.svg";
- 
    const path = [
        'img/jpg/bg_0.jpg',
        'img/jpg/bg_1.jpg',
        'img/jpg/sity.jpg',
    ];
- 
    const navigation = [
        {text: 'Главная', icon: '#home'},
        {text: 'Видео', icon: '#camera'},
        {text: 'Блог', icon: '#news'},
        {text: 'Отзывы', icon: '#comment'},
        //- {text: 'Контакты', icon: '#phone'}
    ];
- 
    const social = [
        {title: 'Youtube', text: 'Youtube', icon: '#youtube', color: '#FF0000'},
        {title: 'Instagram', text: 'Instagram', icon: '#instagram', color: '#833AB4'},
        {title: 'Twitter', text: 'Twitter', icon: '#twitter', color: '#1da1f2'},
        {title: 'Facebook', text: 'Facebook', icon: '#facebook', color: '#385898'},
        {title: 'Вконтакте', text: 'VK', icon: '#vk', color: '#4c75a3'},
    ]; 
- 
    const contacts = [
        {title: 'Телефон', text: '8 (999) 899 43 33', icon: '#phone', color: '#17c42e'},
        {title: 'Почта', text: 'exemple@mail.com', icon: '#mail', color: '#22b9f5', id: 'contacts__text'},
        {title: 'Адрес', text: '216 street address, barisal, bd', icon: '#map', color: '#be0000'}
    ]; 
- 
    const images = [
        {path: path[0], text: 'Bg'},
        {path: path[1], text: 'Clouds'},
        {path: path[2], text: 'Forest'},
       
    ]; 