section.blog.bg-light
    .container.blog__inner
        h2.blog__title.text-uppercase.fw-bold.decorating-line Последние анонсы

        .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-4
            each item in images
                .col
                    .card.h-100.teasers
                        .teasers__item-wrap
                            a.teasers__link(href="#/") 
                                img.teasers__img(src= item.path, alt= item.text)
                        .card-body.teasers__content
                            a.teasers__link(href="#/") 
                                h5.teasers__title.text-uppercase Заголовог анонса
                            span.teasers__meta-info Март 06 2021
                            .teasers__footer-wrap
                                a.teasers__link.teasers__link--hover(href="#/") 
                                    span.teasers__text.text-uppercase Далее
                                    i.teasers__icon
                                        svg.teasers__icon-svg
                                            use(xlink:href=sprite + "#arrow-right")

        .separator-line