@import "uikit/dist/css/uikit";

// @import "../utils/variables";

@import "../utils/reset";

//  === Common ===
html {
    // overflow-x: hidden;
}

html,
body {
    height: 100%;
    // overflow-x: hidden;
}

// body {
//     overflow-x: hidden;
// }

.page {
    font-family: $main-font;
    font-style: $mainFontStyle;
    font-weight: $mainFontWeight;
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $default-color;
}

.wrapper {
    overflow-x: hidden;
    // height: 100%;
}
//  === / Common ===

// === Decorative line ===
.decorating-line {
    &::before {
        position: absolute;
        content: " ";
        width: 200px;
        height: 1px;
        top: 40px;
        left: 0;
        background: $purpleSaturate;
    }
}

.white-line {
    &::before {
        position: absolute;
        content: " ";
        width: 150px;
        height: 1px;
        top: 90px;
        left: 0;
        right: 0;
        margin: auto;
        background: #fff;

        @include media-tablet {
            width: 200px;
        }
    }
}
// === / Decorative line ===

// === Separator ===
.separator-line {
    position: relative;
    padding: rem(40) 0;
    text-align: center;

    &::before {
        position: absolute;
        content: " ";
        width: 200px;
        height: 1px;
        background: $purpleSaturate;
        margin: auto;
        left: 0;
        right: 0;
    }
}
// === / Separator ===
