.header {
    .logo {
        &__link {
            display: block;
        }

        &__img {
            max-width: 150px;
            height: auto;
        }
    }

    .logo-mobile {
        &__link {
            display: block;
        }

        &__img {
            max-width: 35px;
            height: auto;
        }
    }

    .trigger {
        &__btn {
            width: 40px;
            height: 40px;
            background-color: transparent;
        }

        &__icon {
            fill: $purpleSaturate;

            &:hover {
                fill: $purpleColor100;
            }
        }
    }

    .navigation {
        &__link {
            font-size: 20px;
            text-transform: uppercase;
            color: $greyColor;

            &:focus {
                color: $purpleSaturate;
            }

            &:hover {
                color: $purpleSaturate;
            }
        }
    }
}
