.header {
    .logo {
        max-width: 150px;
        height: auto;

        &__link {
            display: block;
        }

        &__img {
            &-mobile {
                max-width: 35px;
                height: auto;
            }
        }
    }

    .trigger {
        width: 40px;
        height: 40px;

        &__icon {
            fill: $purpleColor100;

            &:hover {
                fill: $themeColor;
            }
        }
    }

    .navigation {
        &__link {
            font-size: 18px;
            text-transform: uppercase;

            &:focus {
                color: rgba(0, 0, 0, 0.7);
            }

            &:hover {
                color: $themeColor !important;
            }
        }
    }
}
