.header {
    z-index: 1;

    .social-bar,
    .contacts-bar {
        &__list {
            list-style: none;
        }

        &__link {
            padding: 8px 8px;
        }

        &__icon {
            &-svg {
                width: 25px;
                height: 25px;
            }
        }
    }

    .contacts-bar {
        &__icon {
            &-svg {
                width: 18px;
                height: 18px;
            }
        }
    }

    .logo {
        &__link {
            display: block;
        }

        &__img {
            max-width: 150px;
            height: auto;
        }
    }

    .logo-mobile {
        &__link {
            display: block;
        }

        &__img {
            max-width: 35px;
            height: auto;
        }
    }

    .trigger {
        &__btn {
            background-color: transparent;
        }

        &__icon {
            width: 40px;
            height: 40px;
            fill: $purpleSaturate;

            &:hover {
                fill: $purpleColor100;
            }
        }
    }

    .navigation {
        &__link {
            font-size: 20px;
            text-transform: uppercase;
            color: $greyColor;

            &:focus {
                color: $purpleSaturate;
            }

            &:hover {
                color: $purpleSaturate;
            }
        }
    }
}
